<p id="notice"><%= notice %></p>

<p>
  <strong>Weight:</strong>
  <%= @weight_stat.weight %>
</p>

<p>
  <strong>Noofdogfans:</strong>
  <%= @weight_stat.noOfDogFans %>
</p>

<p>
  <strong>Noofcatfans:</strong>
  <%= @weight_stat.noOfCatFans %>
</p>

<%= link_to 'Edit', edit_weight_stat_path(@weight_stat) %> |
<%= link_to 'Back', weight_stats_path %>
