<%= form_with(model: height_stat, local: true) do |form| %>
  <% if height_stat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(height_stat.errors.count, "error") %> prohibited this height_stat from being saved:</h2>

      <ul>
      <% height_stat.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :height %>
    <%= form.number_field :height, id: :height_stat_height %>
  </div>

  <div class="field">
    <%= form.label :noOfDogFans %>
    <%= form.number_field :noOfDogFans, id: :height_stat_noOfDogFans %>
  </div>

  <div class="field">
    <%= form.label :noOfCatFans %>
    <%= form.number_field :noOfCatFans, id: :height_stat_noOfCatFans %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
