<p id="notice"><%= notice %></p>

<p>
  <strong>Height:</strong>
  <%= @height_stat.height %>
</p>

<p>
  <strong>Noofdogfans:</strong>
  <%= @height_stat.noOfDogFans %>
</p>

<p>
  <strong>Noofcatfans:</strong>
  <%= @height_stat.noOfCatFans %>
</p>

<%= link_to 'Edit', edit_height_stat_path(@height_stat) %> |
<%= link_to 'Back', height_stats_path %>
